# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:
- List popular languages for Data Science
- List of common data science tools
- show example of arithmetic expressions and evaluation in python

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Jullia

### Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. scipy
3. tensorflow
4. cater
5. matplotlib, ggplot ....

| Data Science Tools|
| ----------------- |
| RStudio |
| Apache Spark |
| Apache hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
min = 200
min / 60

3.3333333333333335

## Author
Sari Amin